body {
  margin: 0;
  background-color: lightgray;
  padding-bottom: 60px;
}
.website {
  font: normal 14px sans-serif;
  letter-spacing: 0.5px;
  display: block;
  cursor: pointer;
  background-color: #313b3f;
  color: #fcdb42;
  padding: 10px;
  text-decoration: none;
  text-align: right;
}
.mr-20 {
  margin-right: 20px !important;
}
.mt-10 {
  margin-top: 10px;
}
